Repository tmestery/CyMarket: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, auto-deploy, android-build, android-test

.gitlab-ci.yml:

stages:
  - mavenbuild
  - maventest
  - mavendeploy
  - androidbuild
  - androidtest

maven-build:
  image: maven:3.9.6-eclipse-temurin-17
  stage: mavenbuild
  tags:
    - main_backend      # Updated to your registered runner tag
  script:
    - cd Backend/backend_code
    - mvn package
  artifacts:
    paths:
      - Backend/backend_code/target/*.jar
  only:
    refs:
      - main
    changes:
      - Backend/backend_code/**/*

maven-test:
  stage: maventest
  tags:
    - main_backend      # Updated to your registered runner tag
  script:
    - cd Backend/backend_code
    - mvn test
  only:
    refs:
      - main
    changes:
      - Backend/backend_code/**/*

auto-deploy:
  stage: mavendeploy
  tags:
    - main_backend      # Updated to your registered runner tag
  script:
    - cd Backend/backend_code
    - sudo mv target/*.jar /target/web-demo.jar
    - sudo systemctl stop system-web-demo
    - sudo systemctl start system-web-demo
  only:
    refs:
      - main
    changes:
      - Backend/backend_code/**/*

android-build:
  image: afirefly/android-ci:java17
  stage: androidbuild
  tags:
    - main_frontend     # Updated to your registered runner tag
  before_script:
    - export GRADLE_USER_HOME=`pwd`/.gradle
    - chmod +x ./Frontend/CyMarket/gradlew
  script:
    - cd Frontend/CyMarket
    - ./gradlew build
  only:
    refs:
      - main
    changes:
      - Frontend/CyMarket/**/*

android-test:
  image: afirefly/android-ci:java17
  stage: androidtest
  tags:
    - main_frontend     # Updated to your registered runner tag
  before_script:
    - export GRADLE_USER_HOME=`pwd`/.gradle
    - chmod +x ./Frontend/CyMarket/gradlew
  script:
    - cd Frontend/CyMarket
    - ./gradlew test
  only:
    refs:
      - main
    changes:
      - Frontend/CyMarket/**/*

fixes pipeline
  Backend/backend_code/src/main/java/onetomany/Users/User.java
Due: maven-build, maven-test, auto-deploy

fixes pipeline
  .gitlab-ci.yml
  Backend/backend_code/src/main/java/onetomany/Users/User.java
Due: maven-build, maven-test, auto-deploy

attempt to fix seller only being able to post one item
  Backend/backend_code/src/main/java/onetomany/Items/Item.java
Due: maven-build, maven-test, auto-deploy

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

fixed sell notification send, made changes to checkout to work, added new test cases
  Frontend/CyMarket/app/src/androidTest/java/com/example/cymarket/AlexanderBuyTest.java
  Frontend/CyMarket/app/src/androidTest/java/com/example/cymarket/AlexanderCheckoutTest.java
  Frontend/CyMarket/app/src/androidTest/java/com/example/cymarket/AlexanderNotificationTest.java
  Frontend/CyMarket/app/src/androidTest/java/com/example/cymarket/AlexanderSellTest.java
  Frontend/CyMarket/app/src/main/java/com/example/cymarket/CheckoutActivity.java
  Frontend/CyMarket/app/src/main/java/com/example/cymarket/CheckoutItemRequest.java
  Frontend/CyMarket/app/src/main/java/com/example/cymarket/CheckoutRequest.java
  Frontend/CyMarket/app/src/main/java/com/example/cymarket/Listing.java
  Frontend/CyMarket/app/src/main/java/com/example/cymarket/ListingAdapter.java
  Frontend/CyMarket/app/src/main/java/com/example/cymarket/ListingsActivity.java
  Frontend/CyMarket/app/src/main/java/com/example/cymarket/Notification.java
  Frontend/CyMarket/app/src/main/java/com/example/cymarket/NotificationAdapter.java
  Frontend/CyMarket/app/src/main/java/com/example/cymarket/NotificationsActivity.java
  Frontend/CyMarket/app/src/main/java/com/example/cymarket/SellActivity.java
Due: android-build, android-test

fixed checkout, now sends notification when your item is sold out and when you make a purchase on an item
  Frontend/CyMarket/app/src/main/java/com/example/cymarket/BuyActivity.java
  Frontend/CyMarket/app/src/main/java/com/example/cymarket/CheckoutActivity.java
Due: android-build, android-test

buy screen no longer shows items with 0 quantity
  Frontend/CyMarket/app/src/main/java/com/example/cymarket/BuyActivity.java
Due: android-build, android-test

tried to fix tests
  Frontend/CyMarket/app/src/androidTest/java/com/example/cymarket/AlexanderBuyTest.java
  Frontend/CyMarket/app/src/androidTest/java/com/example/cymarket/AlexanderCheckoutTest.java
  Frontend/CyMarket/app/src/androidTest/java/com/example/cymarket/AlexanderNotificationTest.java
  Frontend/CyMarket/app/src/androidTest/java/com/example/cymarket/AlexanderSellTest.java
Due: android-build, android-test
